@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.aboutBG {
  background: linear-gradient(
    90deg,
    rgb(10, 53, 92) 1.67%,
    rgb(5, 40, 72) 39.95%,
    rgb(4, 25, 45) 58.24%,
    rgb(4, 14, 24) 80.28%,
    rgb(5, 12, 22) 101.48%
  );

  color: white;
}

.skillsBG {
  background: linear-gradient(
    90deg,
    rgba(12, 12, 13, 1) 0%,
    rgba(16, 16, 69, 1) 35%,
    rgba(15, 56, 65, 1) 100%
  );
}

.contactBG {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1018%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(13%2c 1%2c 55%2c 1)'%3e%3c/rect%3e%3cpath d='M1038.33 366.02L1073.99 366.02L1073.99 401.68L1038.33 401.68z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1310.93 253.25L1347.16 253.25L1347.16 254.39L1310.93 254.39z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1189.34 233.74L1226.01 233.74L1226.01 280.71L1189.34 280.71z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M534.88 237.31a48.89 48.89 0 1 0 1.37-97.77z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M34.54 359.83a49.1 49.1 0 1 0 85.71-47.92z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M177.38 122.15L207.24 122.15L207.24 145.31L177.38 145.31z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1349.85 371.97L1375.39 371.97L1375.39 377.08L1349.85 377.08z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M304.69 393.98L358.8 393.98L358.8 448.09L304.69 448.09z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M101.64 572.78a30.73 30.73 0 1 0 48.9-37.23z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M664.85 465.56 a16.44 16.44 0 1 0 32.88 0 a16.44 16.44 0 1 0 -32.88 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M154.12 169.44L183.04 169.44L183.04 179.65L154.12 179.65z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M396.69 92.37L451.69 92.37L451.69 95.33L396.69 95.33z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1382.86 492.04L1410.27 492.04L1410.27 519.45L1382.86 519.45z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M481.1 507.89L498.83 507.89L498.83 512.09L481.1 512.09z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M852.01 377.93L884.99 377.93L884.99 410.91L852.01 410.91z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M976.39 224.67L1004.87 224.67L1004.87 253.15L976.39 253.15z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1391.65 480.92L1424.55 480.92L1424.55 513.82L1391.65 513.82z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M308.5 98.96L340.6 98.96L340.6 131.06L308.5 131.06z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1181.74 274.33L1193.65 274.33L1193.65 326.46L1181.74 326.46z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M356.35 112.17L359.92 112.17L359.92 115.74L356.35 115.74z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1372.9 45.53L1382.25 45.53L1382.25 100.84L1372.9 100.84z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M535.48 467.86a3.55 3.55 0 1 0 3.4-6.23z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M448.45 324.11a25.17 25.17 0 1 0 0.43 50.34z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M242.31 218.56L270.97 218.56L270.97 274.34L242.31 274.34z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1324.2 247.05 a43.88 43.88 0 1 0 87.76 0 a43.88 43.88 0 1 0 -87.76 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1353.47 197.78L1380.78 197.78L1380.78 253.69L1353.47 253.69z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1260.13 374.27 a8.31 8.31 0 1 0 16.62 0 a8.31 8.31 0 1 0 -16.62 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M644.5 357.11 a46.83 46.83 0 1 0 93.66 0 a46.83 46.83 0 1 0 -93.66 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1319.62 360.47 a22.98 22.98 0 1 0 45.96 0 a22.98 22.98 0 1 0 -45.96 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M313.14 523.87 a4.53 4.53 0 1 0 9.06 0 a4.53 4.53 0 1 0 -9.06 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M820.01 489.73 a41.55 41.55 0 1 0 83.1 0 a41.55 41.55 0 1 0 -83.1 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M929.74 472.57 a30.27 30.27 0 1 0 60.54 0 a30.27 30.27 0 1 0 -60.54 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M952.37 174.57L971.06 174.57L971.06 225.95L952.37 225.95z' stroke='%23037b0b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1018'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
